.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .logo-container {
    height: 100%;
    width: 81px;
    padding: 23px;
  }
  .navbar-link-container {
    width: 50%;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
